/* --------------------------- */
/* Scrollbar */
/* --------------------------- */

*::-webkit-scrollbar {
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 0.375rem;
  background-color: inherit;
}

*::-webkit-scrollbar-thumb {
  background-color: hsla(var(--grey-300));
  border-radius: 0.375rem;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: hsla(var(--grey-600));
}

*::-webkit-scrollbar-button {
  visibility: hidden;
}

* {
  scrollbar-width: unset !important;
}

.os-scrollbar-handle {
  background-color: hsla(var(--grey-300));
}

.os-scrollbar-handle:hover {
  background-color: hsla(var(--grey-600));
}

.os-scrollbar-body .os-scrollbar-vertical {
  @apply pt-15;
}
