/* --------------------------- */
/* Scrollbar */
/* --------------------------- */

@supports not (-moz-appearance: none) {
  *::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.5rem;
    background-color: inherit;
  }

  *::-webkit-scrollbar-thumb {
    background-color: hsla(var(--grey-300));
    border-radius: 0.5rem;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: hsla(var(--grey-600));
  }

  *::-webkit-scrollbar-button {
    visibility: hidden;
  }

  *::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0);
  }
}

.os-scrollbar-handle {
  background-color: hsla(var(--grey-300));
}

.os-scrollbar-handle:hover {
  background-color: hsla(var(--grey-600));
}

.os-scrollbar-body .os-scrollbar-vertical {
  @apply pt-15;
}